@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

.ql-container {
  @apply rounded-b-lg border-t-0 bg-white/50 backdrop-blur-sm !important;
  border-color: #e2e8f0 !important;
  min-height: 200px;
  font-family: inherit !important;
}

.ql-toolbar {
  @apply rounded-t-lg bg-white/80 backdrop-blur-sm border-slate-200 !important;
  border-bottom: 0px !important;
}

.ql-editor {
  min-height: 200px;
}
